@import url('./styling/form.css');

main {
  width: 50vw;
  height: fit-content;
  align-items: center;
  background-color: white;
  opacity: .98;
  padding: 2rem;
  align-self: center;
  border-radius: 1rem;
}

h1 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 2rem;
  text-align: center;
}

@media (max-width: 768px) {
  main {
    padding: 1rem;
  }

  h1 {
      font-size: 1rem;
    }
  }
